name: Build

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'samples/**'
      - '*.md'
  push:
    branches:
      - 'master'
    paths-ignore:
      - 'docs/**'
      - 'samples/**'
      - '*.md'
jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
#        include:
#          - os: ubuntu-latest
#            EXTRA_GRADLE_ARGS: :test:graalvm:nativeTest :test:proguard:r8jar apiCheck
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: 21
          distribution: 'graalvm-community'
          set-java-home: false
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v3
      - name: Run tests
        run: >-
            ./gradlew
            :mordant:check
#            :extensions:mordant-coroutines:check
#            ${{matrix.EXTRA_GRADLE_ARGS}}
#            --stacktrace
#      - name: Run R8 Jar
#        if: ${{ matrix.os == 'ubuntu-latest' }}
#        run: java -jar test/proguard/build/libs/main-r8.jar
      - name: Upload the build report
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: build-report-${{ matrix.os }}
          path: '**/build/reports'
  publish-snapshot:
    needs: test
    runs-on: macos-latest
    if: ${{ github.ref == 'refs/heads/master' && github.repository == 'ajalt/mordant' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v3
      - name: Deploy to sonatype
        # disable configuration cache due to https://github.com/gradle/gradle/issues/22779
        run: ./gradlew publishToMavenCentral -PsnapshotVersion=true --no-configuration-cache
    env:
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralPassword }}
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKey }}
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralUsername }}
env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx12g -Dfile.encoding=UTF-8" -Dorg.gradle.configureondemand=true -Dorg.gradle.parallel=false -Dkotlin.incremental=false -Dorg.gradle.project.kotlin.incremental.multiplatform=false -Dorg.gradle.project.kotlin.native.disableCompilerDaemon=true
