name: Test

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest,  windows-latest, ubuntu-latest]
        include:
          - os: macos-latest
            NATIVE_TEST_TASK: :mordant:linkDebugTestMacosArm64 :mordant:macosX64Test
          - os: windows-latest
            NATIVE_TEST_TASK: :mordant:mingwX64Test
          - os: ubuntu-latest
            NATIVE_TEST_TASK: :mordant:linuxX64Test
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3
      - name: Cache Kotlin Native Compiler
        uses: actions/cache@v3
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('**/*.gradle*') }}
          restore-keys: ${{ runner.os }}-konan-
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: :mordant:jvmTest :mordant:jsIrTest :mordant:jsLegacyTest ${{matrix.NATIVE_TEST_TASK}} --stacktrace
      - name: Bundle the build report
        if: failure()
        run: find . -type d -name 'reports' | zip -@ -r build-reports.zip
      - name: Upload the build report
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: error-report
          path: build-reports.zip

env:
  GRADLE_OPTS: -Dorg.gradle.configureondemand=true -Dorg.gradle.parallel=true -Dkotlin.incremental=false -Dorg.gradle.project.kotlin.incremental.multiplatform=false -Dorg.gradle.project.kotlin.native.disableCompilerDaemon=true -Dorg.gradle.jvmargs="-Xmx5g -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
